{% extends "base.html" %}
{% block title %}許伯成python作業{% endblock %}
{% block headmessage %}<h1>不是黑人伯是{{myname}}</h1>{% endblock %}
{% block content %}
    <h3>一些數字</h3>
 <table class="table table-striped">
   <tr ><td colspan="6"class="table table-success">特別數{{special_number}}</td>></tr>>
   <tr><td colspan="6">買了有機會變胖</td>></tr>>
   <tr>{% for no in lottl_numbers %}<td>{{no}}</td>>{% endfor %}</tr>>
 </table>>
 <table class="table table-striped">
  <tr><td>編號</td><td>標題</td><td>時間</td></tr>>
{% for post in posts %}
<tr>
    <td>{{ post.id }}</td>
    <td><a href="/show/{{post.id}}/">{{ post.title }}</a></td>
    <td>{{ post.pub_date }}</td>
    </tr>>
{% endfor %}
</table>
{% endblock %}